xyt/frameworks/js-bindings/
xyt/frameworks/runtime-src/
xyt/tools/

Template_project/frameworks/
wxFlappyBird/frameworks/js-bindings/
wxFlappyBird/frameworks/runtime-src/

wxcat/.idea/
xyt/.idea/

.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/wechatGame.iml
.idea/workspace.xml
.idea
apk-repackager/Template_project-debug
findDiff/frameworks

.DS_Store