xyt/frameworks/js-bindings/
xyt/frameworks/runtime-src/
xyt/tools/

wxcat/.idea/
xyt/.idea/

.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/wechatGame.iml
.idea/workspace.xml
